.card {
  margin: 20px;
  border: 1px solid #eaeaea;
  padding: 20px;
  width: 210px;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    // когда наводим на блок
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  span {
    opacity: 0.5;
    font-size: 16px;
  }

  b {
    font-size: 16px;
  }

  h5 {
    font-weight: 400;
    font-size: 15px;
  }
}

.button {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
}
