body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4ecfe;
}

* {
  font-family: "Inter", sans-serif;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerInfo {
    p {
      opacity: 0.5;
    }
  }

  .headerLeft {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }

    h3 {
      margin: 0;
      text-transform: uppercase;
    }
    p {
      margin: 0;
    }
  }

  .headerRight {
    display: flex;
    align-items: center;

    li {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.sneakers {
  display: flex;
  flex-wrap: wrap;
}

.basketEmpty {
  text-align: center;

  p {
    line-height: 24px;
  }

  .greenButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 50px;
    margin-top: 10px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      margin-right: 10px;
      transform: rotate(180deg);
      transition: transform 0.15s ease-in-out;
    }
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  align-items: center;
  position: relative;

  .clear {
    position: absolute;
    right: 2px;
    height: 22px;
    width: 22px;
  }

  input {
    border: none;
    font-size: 14px;
    padding: 11px;
    width: 200px;
  }
}

.mainShadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 20px;
  }

  h2 {
    margin: 0;
  }
}

.basketTotalBlock {
  ul {
    margin-bottom: 30px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }

  .greenButton {
    position: relative; // может быть только в пределах кнопки (стрелка)

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 40px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.15s ease-in-out;

  &:hover {
    background: lighten($color: #9dd558, $amount: 5%);
  }

  &:active {
    background: darken($color: #9dd558, $amount: 5%);
  }
}

.basketItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .basketItemImg {
    height: 125px;
    width: 125px;
    background-size: contain;
    background-position: 0 -10px;
    background-repeat: no-repeat;
    margin-right: 10px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .basketRemove {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
